name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  linux_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
    steps:
      - uses: actions/checkout@v3
      - name: "Install uv"
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.8"
      - name: Install the project
        run: uv sync
      - run: uv run pytest tests
